# 1. Handling Missing Data Questions:

How do you identify and handle missing values in a Pandas, DataFrame?

Handling missing values is important when working with data in Pandas. Missing data can occur due to errors, corruption, or simply because information is not available. In a dataset, missing values may be represented as question marks, zeros, NaN, or empty cells..
There are various ways to deal with missing values, and the most suitable method depends on the specific context. Let's explore some common approaches using the 'Classical composer' dataset from Kaggle as an example.

# Identify missing value
In order to check missing values in Pandas DataFrame, we use a function isnull() and notnull(). The insull()function takes a scalar or array-like object and indicates whether values are missing

In [8]:
import pandas as pd 

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.isnull()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,True,True,True,True,True,True
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,True
...,...,...,...,...,...,...
96,False,False,False,False,False,False
97,False,False,False,False,False,True
98,False,False,False,False,False,True
99,False,False,False,False,False,False
100,False,False,False,False,False,True

 The notnull() function is the opposite of isnull(), returning a boolean value indicating whether each value in a DataFrame is not missing.

In [7]:
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.notnull()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,False,False,False,False,False,False
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,False
...,...,...,...,...,...,...
96,True,True,True,True,True,True
97,True,True,True,True,True,False
98,True,True,True,True,True,False
99,True,True,True,True,True,True
100,True,True,True,True,True,False

# Removing Rows with Missing Values

One approach to handling missing values is to simply remove any rows that contain them. Pandas provides the dropna() function to do this. By default, dropna() removes any row that contains at least one missing value.

In [23]:
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.dropna()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
5,Joseph Haydn,Austrian,1732.0,1809.0,Symphony No. 45,25.0
6,Johannes Brahms,German,1833.0,1897.0,Symphony No. 4,40.0
...,...,...,...,...,...,...
90,Darius Milhaud,French,1892.0,1974.0,"Scaramouche, Le boeuf sur le toit",10.0
91,Orlando Gibbons,English,1583.0,1625.0,Hosanna to the Son of David,4.0
93,Samuel Barber,American,1910.0,1981.0,"Adagio for Strings, Knoxville: Summer of 1915",8.0
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0

# Filling missing values
Using fillna(),interpolate()
In order to fill null values in a datasets, we use fillna(,) function these function replace NaN values with some value of their own. All these function help in filling a null values in datasets of a DataFrame. Interpolate() function is basically used to fill NA values in the dataframe but it uses various interpolation technique to fill the missing values rather than hard-coding the value.

In [28]:
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.fillna(0)

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,0,0,0.0,0.0,0,0.0
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
4,Richard Wagner,German,1813.0,1883.0,Der Ring des Nibelungen,0.0
...,...,...,...,...,...,...
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
97,Hildegard von Bingen,German,1098.0,1179.0,"Ordo Virtutum, Symphony of the Harmony of Cele...",0.0
98,Mikhail Glinka,Russian,1804.0,1857.0,"A Life for the Tsar, Ruslan and Ludmila",0.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0
100,Don Carlo Gesualdo,Italian,1566.0,1613.0,"Madrigals, Tenebrae Responsories",0.0

In [26]:
import pandas as pd 

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

df.interpolate()

C:\Users\Admin\AppData\Local\Temp\ipykernel_22660\1995800222.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

,Composer,Nationality,Born,Died,Biggest Piece,Duration of Biggest Piece(mins)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Ludwig van Beethoven,German,1770.0,1791.0,Symphony No. 9,65.0
2,Wolfgang Amadeus Mozart,Austrian,1756.0,1791.0,Symphony No.41,33.0
3,Johann Sebastian Bach,German,1685.0,1750.0,Mass in B minor,125.0
4,Richard Wagner,German,1813.0,1883.0,Der Ring des Nibelungen,75.0
...,...,...,...,...,...,...
96,Manuel de Falla,Spanish,1876.0,1946.0,"El amor brujo, Noches en los jardines de España",23.0
97,Hildegard von Bingen,German,1098.0,1179.0,"Ordo Virtutum, Symphony of the Harmony of Cele...",27.0
98,Mikhail Glinka,Russian,1804.0,1857.0,"A Life for the Tsar, Ruslan and Ludmila",31.0
99,Alexander Glazunov,Russian,1865.0,1936.0,"The Seasons, Symphony No. 5",35.0
100,Don Carlo Gesualdo,Italian,1566.0,1613.0,"Madrigals, Tenebrae Responsories",35.0

# What is imputation, and why might it be useful in dealing with missing data?
Imputation is a method of replacing missing values in a dataset with other values based on some assumptions or rules. Imputation can be useful for dealing with missing data because it allows you to use the complete dataset for analysis, without discarding potentially valuable information or introducing bias:

 **Mean or median imputation:** This method replaces the missing values with the mean or median of the observed values in the same column.
 
 **k-nearest neighbors algorithm (k-NN):** This method imputes the missing values by finding the k most similar instances in the dataset based on some distance metric, and taking the average or mode of their values.
 
  **regression imputation:** This method uses a linear regression model to predict the missing values based on the observed values in other columns.

 **Multivariate imputation by chained equation (MICE):** This method iteratively imputes the missing values by using multiple regression models, each for one column with missing values.

 **Maintenance of Data Integrity:** Imputation ensure that datasets are complete and can be analyzed and modeled comprehensively. The completion of missing values through imputation helps prevent losing valuable data that may take place when incomplete information is discarded.

# 2. Data Transformation Questions:

**How can you encode categorical variables in a Pandas DataFrame?**

 Encoding categorical values is giving for each categorical value integer value so machine could work with it we can use methods such one-hot encoding or binary encoding

In [44]:
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Downloads/classical_composers.csv',encoding='unicode_escape')

print(df)

                     Composer   Nationality     Born    Died  \
0                         NaN            NaN     NaN     NaN
1        Ludwig van Beethoven      German     1770.0  1791.0
2    Wolfgang Amadeus Mozart        Austrian  1756.0  1791.0
3      Johann Sebastian Bach       German     1685.0  1750.0
4              Richard Wagner      German     1813.0  1883.0
..                        ...            ...     ...     ...
96            Manuel de Falla        Spanish  1876.0  1946.0
97       Hildegard von Bingen      German     1098.0  1179.0
98             Mikhail Glinka        Russian  1804.0  1857.0
99         Alexander Glazunov        Russian  1865.0  1936.0
100        Don Carlo Gesualdo        Italian  1566.0  1613.0

                                         Biggest Piece  \
0                                                  NaN
1                                    Symphony No. 9
2                                       Symphony No.41
3                                      Mass in B minor
4                              Der Ring des Nibelungen
..                                                 ...
96     El amor brujo, Noches en los jardines de España
97   Ordo Virtutum, Symphony of the Harmony of Cele...
98             A Life for the Tsar, Ruslan and Ludmila
99                         The Seasons, Symphony No. 5
100                   Madrigals, Tenebrae Responsories

     Duration of Biggest Piece(mins)
0                                NaN
1                               65.0
2                               33.0
3                              125.0
4                                NaN
..                               ...
96                              23.0
97                               NaN
98                               NaN
99                              35.0
100                              NaN

[101 rows x 6 columns]

**What is one-hot encoding, and when would you use it in data preprocessing?**


One-hot encoding is a technique used to represent categorical variables as binary vectors. In this encoding method, each category or level of a categorical variable is represented as a binary (0 or 1) value in a separate column. It's called "one-hot" because only one bit is hot (1) while the others are cold (0) in each binary representation
g column..


Here's an example to illustrate one-hot encoding:

Original Categorical Column: ["Red", "Yellow", "Blue"]

One-Hot Encoded Columns:

Red: [1, 0, 0]
Yellow: [0, 1, 0]
Blue: [0, 0, 1]

Each original category gets its own column, and the presence of the category is indicated by a 1 in the corresponding column.

# 3 Removing Duplicates Questions:

**How do you identify and remove duplicate rows from a DataFrame?**

To identify duplicate rows in a Pandas DataFrame, you can use the duplicated() method. This method returns a boolean Series indicating whether each row is a duplicate of a previous row. By default, it marks all duplicates as True except for the first occurrence.

In [41]:
import pandas as pd

data={'Number':['1','2','3','3'],
       'Letter':['A','B','C','A']}

df = pd.DataFrame(data)

dupl=df.duplicated()

print(data)

print(dupl)

{'Number': ['1', '2', '3', '3'], 'Letter': ['A', 'B', 'C', 'A']}
0    False
1    False
2    False
3    False
dtype: bool

To remove duplicate rows from a DataFrame in Pandas, we can use the drop_duplicates() method. This method removes rows that are duplicates of other rows, keeping only the first occurrence of each unique row by default.

In [43]:
import pandas as pd

data={'Number':['1','2','3','3'],
       'Letter':['A','B','C','A']}

dupl=df.drop_duplicates()

print(data)

print(dupl)

{'Number': ['1', '2', '3', '3'], 'Letter': ['A', 'B', 'C', 'A']}
  Number Letter
0      1      A
1      2      B
2      3      C
3      3      A

**Can you explain the difference between the duplicated() and drop_duplicates() methods in Pandas?**

in short duplicated() helps you identify duplicates, and drop_duplicates() is used to create a new DataFrame with those duplicates removed.

# 4. Data Scaling and Normalization Questions:

**Discuss the importance of feature scaling in machine learning.**

Imagine you have a dataset about houses, and you want a computer to predict the house price based on two features: "number of bedrooms" and "square footage." The number of bedrooms might range from 2 to 5, while square footage could range from 800 to 3000.

Now, if you don't scale these features, the computer might think square footage is more important just because the numbers are larger. It could end up focusing too much on square footage and not giving enough importance to the number of bedrooms.

Feature scaling steps in to solve this. It's like putting both features on the same measuring scale. So, instead of bedrooms being 2 to 5 and square footage being 800 to 3000, feature scaling adjusts them to a similar scale, say between 0 and 1.

This adjustment helps the computer to treat both features fairly, not favoring one over the other just because of the scale. It's like making sure the computer looks at both the number of bedrooms and square footage equally when deciding the house price.

**Explain the difference between min-max scaling and z-score normalization.**

Min-max scaling and z-score normalization are both techniques used to standardize and scale the values of a variable in a dataset. They are commonly employed in data preprocessing for machine learning and statistical analysis. Here's a brief explanation of the differences between min-max scaling and z-score normalization:

   **Min-Max Scaling:**
   
Range: The scaled values lie between 0 and 1.

Scaling Process: Linear scaling to a specific range (0 to 1) by subtracting the minimum value and dividing by the range

 **Z-Score Normalization (Standardization):**

 Range: The scaled values have a mean of 0 and a standard deviation of 1.
 
Scaling Process: Transforming data to have a mean of 0 and a standard deviation of 1 by subtracting the mean and dividing by the standard deviation..

# 5. Handling Outliers Questions:

**What are outliers, and why might they impact machine learning models?**


Z-score helps us see how far each data point is from the average. If a data point is too far away (beyond a certain limit), we consider it an outlier.
IQR (Interquartile Range) Method:

IQR is the range between the middle 50% of our data. Outliers are those points that fall significantly outside this middle range.
Visualizations:

Looking at charts like histograms or box plots can quickly show us if there are any points that stand out from the rest, indicating potential outliers.

**How can you handle outliers in a continuous numerical variable in Python?**

We can just delete them. However it will cause problems in future so there is other methods like using scaling methods that are not so much got influenced by outliers, such as z-score normalization or robust scaling